@font-face {
    font-family: "Open Sans";
    src: url(./resources/fonts/OpenSans-Regular.woff2);
}

@font-face {
    font-family: "Open Sans Medium";
    src: url(./resources/fonts/OpenSans-Medium.woff2);
}

@font-face {
    font-family: "PTSerif";
    src: url(./resources/fonts/PTSerif-Regular.woff2);
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Open Sans Medium", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h2,
h3 {
    font-family: "Open Sans", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

p {
    font-family: "PTSerif", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vw;
}

.content-nav-row {
    display: flex;
}

.content-nav-row img {
    width: 5vw;
}

.icon-row {
    display: flex;
    justify-content: center;
    gap: 1vw;
}

/* header */

header {
    z-index: -1;
}

header .about {
    z-index: 1;
}

header .title-image {
    z-index: 2;
}

.title-image picture {
    z-index: 0;
}

h1 {
    color: white;
}

.title-image {
    position: relative;
}

.header-icon-row img {
    width: 5vw;
}

.about {
    padding: 5vw 0;
}

/* main */

main {
    padding: 5vw;
}

main h2 {
    margin-bottom: 4vw;
}

.projects {
    display: grid;
    gap: 8vw 4vw;
}

/* square shape width of grid cell */

.card-bg {
    aspect-ratio: 1 / 1;
    width: 100%;
}

.card {
    box-shadow: 2px 2px 5px 2px rgb(195, 204, 214);

    display: grid;
    grid-template-rows: 1fr 0.4fr;
}

.card-content {
    padding: 1em 2em;
}

.content-nav-row {
    width: 100%;
    padding-left: 1em;
    margin-bottom: 1em;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content-nav-icons {
    justify-self: end;
}

.card-1-bg {
    background-color: orangered;
}

.card-2-bg {
    background-color: violet;
}

.card-3-bg {
    background-color: rgb(20, 108, 57);
}

.card-4-bg {
    background-color: rgb(234, 236, 122);
}

.card-5-bg {
    background-color: rgb(50, 27, 122);
}

.card-6-bg {
    background-color: rgb(0, 255, 234);
}

/* footer */

footer h2 {
    padding: 5vw 0;
}

.footer-content {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 5vw;
}

.footer-text {
    font-size: 1.25em;
}

.footer-icon-row img {
    width: 8vw;
}

@media (max-width: 600px) {

    /* header */

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title-and-image {
        position: relative;

        padding: 5vw;

        background-image: url(./resources/images/photos/header-bg.svg);
        background-size: cover;
    }

    .title-and-image .title-container {
        position: absolute;
        width: 90%;
        height: 90%;

        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }

    .title-and-image img {
        width: 100%;
        object-fit: contain;
    }

    .about {
        display: flex;
        flex-direction: column;

        gap: 2vw;
    }

    .about h2 {
        text-align: center;
    }

    /* main */

    .projects {
        grid-template-rows: repeat(6, 1fr);
    }

    main h2 {
        text-align: center;
    }

    /* footer */

    footer {
        padding: 0 5vw 5vw 5vw;
        color: white;
        background-color: rgb(2, 125, 184);
    }

    footer h2 {
        text-align: center;
    }

    footer>img {
        display: none;
    }
}